<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="no.hvl.multecore.editor.Activator"
               id="no.hvl.multecore.editor"
	       name="multEcore">
    </component>
  </extension>
</plugin>
